#!/bin/bash
#
# -*- mode: bash -*-
#
# Provides environment for local development.  You normally
# don't execute this or source it directly; use direnv to set this up
#
# Environment variables exported by this script
#
# PATH         Allows ./bin to be added to path
# BUILD_FIRST  Whether to build before running
#

project_dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

export PATH="$project_dir/bin:${project_dir}-sauce/bin:$PATH"

if [[ -f .credentials.envrc ]]; then
    . .credentials.envrc
fi

# Support python virtualenv
if command -v pipenv; then
    . "$(pipenv --venv)/bin/activate"
else
    # Terminal output formatting
    _RESET="\x1b[39m"
    _RED="\x1b[31m"

    printf "${_RED}warning${_RESET}: Pipenv not setup"
fi

# Interoperate with tools that set the prompt
unset PS1
