#!/bin/bash
#
# -*- mode: bash -*-
#
# Provides environment for local development.  You normally
# don't execute this or source it directly; use direnv to set this up
#
# Environment variables exported by this script
#
# PATH         Allows ./bin to be added to path
# BUILD_FIRST  Whether to build before running
#
# NUGET_SOURCE_URL
#
project_dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

export PATH="$project_dir/bin:$PATH"
export BUILD_FIRST=1
